USE [BidVerse]
GO
/****** Object:  Table [dbo].[Auction]    Script Date: 2025. 12. 12. 0:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auction](
	[itemId] [int] IDENTITY(1,1) NOT NULL,
	[ownerId] [int] NOT NULL,
	[categoryId] [int] NOT NULL,
	[itemName] [nvarchar](50) NOT NULL,
	[minimumPrice] [decimal](12, 2) NOT NULL,
	[createDate] [datetime] NOT NULL,
	[expiredDate] [datetime] NOT NULL,
	[lastBid] [decimal](12, 2) NULL,
	[description] [nvarchar](max) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[extraTime] [int] NULL,
	[itemState] [nvarchar](20) NOT NULL,
	[tags] [nvarchar](max) NULL,
	[minStep] [int] NULL,
	[condition] [int] NULL,
	[version] [bigint] NOT NULL,
	[startDate] [datetime] NULL,
 CONSTRAINT [PK_Auction] PRIMARY KEY CLUSTERED 
(
	[itemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuctionImages]    Script Date: 2025. 12. 12. 0:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionImages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[auctionId] [int] NOT NULL,
	[cloudinaryUrl] [nvarchar](500) NOT NULL,
	[isPrimary] [bit] NOT NULL,
	[orderIndex] [int] NOT NULL,
	[uploadedBy] [int] NULL,
	[fileSizeKb] [int] NOT NULL,
	[format] [nvarchar](50) NULL,
 CONSTRAINT [PK_AuctionImages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutoBid]    Script Date: 2025. 12. 12. 0:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoBid](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[auctionId] [int] NOT NULL,
	[maxBidAmount] [decimal](18, 2) NULL,
	[incrementAmount] [decimal](18, 2) NULL,
	[intervalMinutes] [int] NULL,
	[nextRun] [datetime] NULL,
	[isActive] [bit] NOT NULL,
	[conditionsJson] [nvarchar](max) NULL,
	[lastRun] [datetime] NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NULL,
	[startingBidAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_AutoBid] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 2025. 12. 12. 0:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[bidId] [int] IDENTITY(1,1) NOT NULL,
	[auctionId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[value] [decimal](12, 2) NOT NULL,
	[timeStamp] [datetime] NOT NULL,
	[isWinning] [bit] NOT NULL,
	[version] [bigint] NOT NULL,
 CONSTRAINT [PK_Bid] PRIMARY KEY CLUSTERED 
(
	[bidId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025. 12. 12. 0:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 2025. 12. 12. 0:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[senderId] [int] NULL,
	[receiverId] [int] NOT NULL,
	[auctionId] [int] NULL,
	[createdAt] [datetime] NOT NULL,
	[messageText] [varchar](499) NOT NULL,
	[titleText] [varchar](99) NULL,
	[alreadyOpened] [bit] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2025. 12. 12. 0:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](25) NOT NULL,
	[emailAddress] [nvarchar](50) NOT NULL,
	[phoneNumber] [nvarchar](16) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auction] ADD  CONSTRAINT [DF__Auction__version__4D5F7D71]  DEFAULT ((0)) FOR [version]
GO
ALTER TABLE [dbo].[AuctionImages] ADD  CONSTRAINT [DF_AuctionImages_is_primary]  DEFAULT ((0)) FOR [isPrimary]
GO
ALTER TABLE [dbo].[AuctionImages] ADD  CONSTRAINT [DF_AuctionImages_order_index]  DEFAULT ((0)) FOR [orderIndex]
GO
ALTER TABLE [dbo].[Bid] ADD  DEFAULT ((0)) FOR [version]
GO
ALTER TABLE [dbo].[Auction]  WITH CHECK ADD  CONSTRAINT [FK_Auction_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[Auction] CHECK CONSTRAINT [FK_Auction_Category]
GO
ALTER TABLE [dbo].[Auction]  WITH CHECK ADD  CONSTRAINT [FK_Auction_User] FOREIGN KEY([ownerId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Auction] CHECK CONSTRAINT [FK_Auction_User]
GO
ALTER TABLE [dbo].[AuctionImages]  WITH CHECK ADD  CONSTRAINT [FK_AuctionImages_Auction] FOREIGN KEY([auctionId])
REFERENCES [dbo].[Auction] ([itemId])
GO
ALTER TABLE [dbo].[AuctionImages] CHECK CONSTRAINT [FK_AuctionImages_Auction]
GO
ALTER TABLE [dbo].[AuctionImages]  WITH CHECK ADD  CONSTRAINT [FK_AuctionImages_User] FOREIGN KEY([uploadedBy])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[AuctionImages] CHECK CONSTRAINT [FK_AuctionImages_User]
GO
ALTER TABLE [dbo].[AutoBid]  WITH CHECK ADD  CONSTRAINT [FK_AutoBid_Auction] FOREIGN KEY([auctionId])
REFERENCES [dbo].[Auction] ([itemId])
GO
ALTER TABLE [dbo].[AutoBid] CHECK CONSTRAINT [FK_AutoBid_Auction]
GO
ALTER TABLE [dbo].[AutoBid]  WITH CHECK ADD  CONSTRAINT [FK_AutoBid_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[AutoBid] CHECK CONSTRAINT [FK_AutoBid_User]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD  CONSTRAINT [FK_Bid_Auction] FOREIGN KEY([auctionId])
REFERENCES [dbo].[Auction] ([itemId])
GO
ALTER TABLE [dbo].[Bid] CHECK CONSTRAINT [FK_Bid_Auction]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD  CONSTRAINT [FK_Bid_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Bid] CHECK CONSTRAINT [FK_Bid_User]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Auction] FOREIGN KEY([auctionId])
REFERENCES [dbo].[Auction] ([itemId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Auction]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Receiver] FOREIGN KEY([receiverId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Receiver]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Sender] FOREIGN KEY([senderId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Sender]
GO
